!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Urbanspoon Ping Pong Ladder"
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %meta{content: "300", "http-equiv" => "refresh"}
    = stylesheet_link_tag    "statboard", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body.statboard
    = yield